*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: aliceblue;
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #111827;
    color: #f9fabf
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav{
    display: flex;
    gap: 1rem;
}

.nav a{
    color: #e5e7eb;
    text-decoration: none;
    padding: 10px;
    border-radius: 999px;
    transition: background 0.2s, color 0.2s;
    font-size: 16px
}

.nav a:hover{
    background-color: #374151;
    color: #fff;
}

.nav a.active{
    background-color: #2563eb;
    color: #fff;
}

.hero{
    padding: 4rem 8%;
    background: linear-gradient(135deg, #1d4ed8, pink, #0ea5e9);
    color: #111827;
}

.hero-content{
    max-width: 600px;
}

.hero-content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:white
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: white;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2563eb;
    color: #fff;
    text-decoration: none;
    border-radius: 999px;
    transition: background 0.2s, color 0.2s;
}

.btn:hover{
    background-color: #1d4ed8;
    color: #fff;
}

.features{
    padding: 0 8% 3rem;
}

.section-title{
    text-align: center;
    margin: 3rem 0 1.5rem;
    font-size: 1.7rem
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem
}

.feature-card{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 6px 14px rgba(15, 23, 42, 0.08)
}

.wrapper{
    display: grid;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 230px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c{
    grid-column: span 2
}

.b{
    grid-column: span 2;
}